* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #252525;
  color: #FFF;
}

.primary-bg-color {
  background-color: #252525;
}

.secondary-bg-color {
  background-color: #ffc600;
}

.light-bg-color {
  background-color: #FCF5EB
}

.dark-bg-color {
  background-color: #101010;
}

.primary-color {
  color: #ffc600;
}

.secondary-color {
  color: #ffc600;
}

.light-color {
  color: #FCF5EB
}

/* NAVBAR */
#navbar .navbar-nav {
  flex-direction: row;
  justify-content: flex-end;
}

#navbar .navbar-nav li {
  margin-left: 1em;
}

#navbar a,
#navbar button {
  color: #FFF;
}

#navbar li {
  position: relative;
}

#navbar i {
  font-size: 20px;
}

#navbar span {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #EF3636;
  text-align: center;
}

#bag-item span {
  left: 20px;
}

.navbar-brand {
  font-weight: 700;
  width: 100%;
  text-align: center;
}

@media(min-width: 768px) {
  .navbar-brand {
    text-align: left;
  }
}

#navbar-items {
  justify-content: space-between;
}

@media(min-width: 768px) {
  #navbar-items {
    display: flex;
    min-width: 80%;
  }
}

#search-form,
#news-form {
  width: 100%;
  margin: 2em 0;
}

@media(min-width: 768px) {
  #search-form,
  #news-form {
    width: 50%;
    margin: 0;
  }
}

#search-form,
#news-form {
  border: 2px solid #626262;
  border-radius: 3px;
  padding: 5px 15px;
}

#search-form input,
#news-form input {
  background-color: transparent;
  border: none;
  color: #FFF;
}

#search-form input:focus,
#news-form input:focus {
  box-shadow: none;
}

#search-form input::placeholder,
#news-form input::placeholder {
  color: #FFF;
}

/* BOTTOM NAVBAR */
#bottom-navbar-container .container {
  justify-content: flex-end;
}

#bottom-navbar-container a {
  color: #FFF;
  font-weight: 600;
}

.navbar-toggler {
  font-size: 1.5em;
}

.form{
  border-radius: 10;
}

/* FOOTER */
#footer-links-container {
  border-bottom: 1px solid #626262;
}

#footer .footer-column {
  padding: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media(mn-width: 795px) {
  #footer .footer-column {
    padding: 5em 2em;
  }
}

#footer-links-container h3 {
  margin-bottom: 25px;
  text-transform: uppercase;
}

#footer-links-container li {
  font-size: .8em;
  text-align: center;
}

@media(mn-width: 795px) {
  #footer-links-container li {
    text-align: left;
  }
}

#footer-links-container li a {
  text-decoration: none;
}

#footer-links-container li a:hover {
  color: #ffc600;
}

#footer-center {
  border-left: 1px solid #626262;
  border-right: 1px solid #626262;
}

#footer-center h3 {
  font-weight: 900;
}

#footer-center .store-phone {
  color: #ffc600;
  font-weight: bold;
  font-size: 2rem;
  margin-top: -15px;
}

/* NEWS */
#newsletter-container {
  background-color: #101010;
  border-bottom: 1px solid #626262;
  text-align: center;
  padding: 20px;
}

#news-form {
  max-width: 600px;
  margin: 15px auto;
}

#news-form i {
  font-size: 1.5em;
}

#news-form .btn {
  color: #FFF;
}

#social-container {
  margin: 20px auto;
}

#social-container i {
  font-size: 1.5em;
  margin: 10px;
  cursor: pointer;
  color: #626262;
  transition: .3s;
}

#social-container i:hover {
  color: #ffc600;
}

/* COPY */
#copy-container {
  text-align: center;
  padding: 30px;
}


button {
  --primary-color: #000000;
  --secondary-color: #fff;
  --hover-color: #ffd700;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}